<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<table border="0">
			<tr>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
			</tr>
			<tr>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
			</tr>
			<tr>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
			</tr>
			<tr>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
			</tr>
			<tr>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
			</tr>
			<tr>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
			</tr>
			<tr>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
			</tr>
			<tr>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
			</tr>
			<tr>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
			</tr>
			<tr>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#25c7e0"><pre> ZI </pre></td>
				<td bgcolor="#c5a531"><pre> NU </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#ffda55"><pre> R </pre></td>
				<td bgcolor="#328dc7"><pre> U </pre></td>
			</tr>
		</table>
	</body>
</html>